# Default ignored files
/shelf/
/workspace.xml
/data
/cache
/sidechainnet_data
/checkpoints
/__pycache__
/output
/logs
*.out
vpd/_cpp.cp312-win_amd64.pyd
/vpd.egg-info
/build
/vpd/build
/vpd/vpd.egg-info
/src/__pycache__
*.pyc
