# Default ignored files
/shelf/
/workspace.xml
/data
/cache
/checkpoints
/__pycache__
/output
/logs
*.out
vpd/_cpp*.pyd
vpd/_cpp*.so
vpd/*.egg-info
/build
/vpd/build
/src/__pycache__
*.pyc
/.venv
/src/proteintda.egg-info
/.minifold_extract
