eagerpy
numpy
torch
transformers
accelerate
gudhi
pot
openmm
jax
scikit-learn
tmtools
git+https://github.com/aqlaboratory/openfold.git

# SidechainNet (https://github.com/jonathanking/sidechainnet)
sidechainnet
ProDy
biopython
scipy
tqdm
py3Dmol
pandas
