numpy
networkx
torch
transformers
accelerate
gudhi
pot
openmm
jax
scikit-learn
tmtools

# SidechainNet (https://github.com/jonathanking/sidechainnet)
sidechainnet
ProDy
biopython
scipy
tqdm
py3Dmol
pandas
